@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import './base.css';

@font-face {
  font-family: 'Astra';
  src: url('./fonts/Astra-6RGXq.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

#app {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}
